<!-- Footer -->
<footer class="bg3 p-t-50 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categorias
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="novedades.html" class="stext-107 cl7 hov-cl1 trans-04">
								Novedades
							</a>
						</li>

						<li class="p-b-10">
							<a href="recomendados.html" class="stext-107 cl7 hov-cl1 trans-04">
								Recomendados
							</a>
						</li>

						<li class="p-b-10">
							<a href="literatura.html" class="stext-107 cl7 hov-cl1 trans-04">
								Literatura
							</a>
						</li>

						<li class="p-b-10">
							<a href="austral.html" class="stext-107 cl7 hov-cl1 trans-04">
								Colecci&oacute;n Austral
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Ayuda
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Retornos
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Preguntas Frecuentes
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						CONT&Aacute;CTANOS
					</h4>

					<p class="stext-107 cl7 size-201">
						Tienes algunas preguntas? Escr&iacute;benos a nuestro correo librosaqp.ventas@gmail.com o ll&aacute;manos al 946727048
					</p>

					<div class="p-t-27">
						<a href="https://web.facebook.com/librosarequipa" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="https://www.instagram.com/librosarequipa" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
								placeholder="tuemail@gmail.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Suscr&iacute;bete
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-0">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="./assets/imagenes/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="./assets/imagenes/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="./assets/imagenes/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="./assets/imagenes/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="./assets/imagenes/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					Copyright &copy; {{year}} Libros Arequipa. Todos los derechos
					reservados
				</p>
			</div>
		</div>
	</footer>