/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './assets/css/album.css';
@import './assets/css/main.css';
@import './assets/css/util.css';
@import './assets/fonts/iconic/css/material-design-iconic-font.min.css';

.album-photo {
    margin-bottom: 16px;
    max-height: 190px;
    max-width: 340px;
}